name: Build + Release

on:
  push:
    tags:
      - "v*"
    paths-ignore:
      - ".github/workflows/main.yml"
      - ".github/workflows/sync-release.yml"
      - ".github/workflows/sync.py"
      - "README.md"

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        goos: [linux, windows, darwin, freebsd]
        goarch: [amd64, arm64, 386]
        include:
          - goos: linux
            goarch: 386
          - goos: linux
            goarch: s390x
          - goos: linux
            goarch: riscv64
          - goos: linux
            goarch: arm
          - goos: linux
            goarch: mips
            gomips: softfloat
          - goos: linux
            goarch: mipsle
            gomips: softfloat
          - goos: linux
            goarch: loong64
          - goos: freebsd
            goarch: arm
        exclude:
          - goos: darwin
            goarch: 386

    name: Build artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout private repo (PAT, main)
        run: |
          rm -rf ./*
          git clone --branch ${{ secrets.PRIVATE_REPO_BRANCH }} --single-branch \
            https://${{ secrets.PRIVATE_REPO_TOKEN }}@${{ secrets.PRIVATE_REPO }} .

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25.2

      - name: Build Test
        if: github.event_name != 'push' || !contains(github.ref, 'refs/tags/')
        uses: goreleaser/goreleaser-action@v6
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          GOMIPS: ${{ matrix.gomips }}
        with:
          distribution: goreleaser
          version: "~> v2"
          args: build --single-target --clean --skip=validate --snapshot

      - name: Build
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        uses: goreleaser/goreleaser-action@v6
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          GOMIPS: ${{ matrix.gomips }}
        with:
          distribution: goreleaser
          version: "~> v2"
          args: build --single-target --clean --skip=validate

      - name: Archive
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: zip -jr dist/nezha-agent_${GOOS}_${GOARCH}.zip dist/*/*

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nezha-agent_${{ matrix.goos }}_${{ matrix.goarch }}
          path: |
            ./dist/nezha-agent_${{ matrix.goos }}_${{ matrix.goarch }}.zip

  release:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    needs: build
    name: Release
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./assets

      - name: Checksum
        run: sha256sum ./assets/*/*.zip | awk -F" |/" '{print $1, $NF}' > checksums.txt

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            checksums.txt
            assets/*/*.zip
          generate_release_notes: false
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GH_PAT }}
